body {
  margin: 0;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -220px;
  margin-left: -220px;
  width: 400px;
  padding: 20px;
  background-color: #DEF3C5;
  border: 1px black solid;
  font-size: 18px;
  color: #6b6b6b;
}

.latlon-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latlon-child {
  width: 45%;
  padding: 8px;
}

.ant-input-disabled {
  background-color: #fff !important;
  cursor: default !important;
}